In [ ]:
import pandas as pd
import numpy as np
print("DataFrame.apply Function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nOrignal DataFrame:\n",info)
print("\nSqure root of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each Column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n", info.apply(np.sum,axis=1))

DataFrame.apply Function:


Orignal DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Squre root of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each Column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [ ]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
col=['X','Y','Z']
print("Original DataFrame:\n",info)
print("\nMinimum & Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    0  1  2
0  2  4  6
1  1  3  5
2  5  8  7

Minimum & Maximum of each column:

     0  1  2
min  1  3  5
max  5  8  7

In [ ]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,5],[1,3,5],[5,8,7]],columns=['X', 'Y', 'Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','ID']
print(d2)

   X  Y  Z
0  2  4  5
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  Sai  88
1  Poo  70

In [ ]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,5],[1,3,5],[5,8,7]],columns=['X', 'Y', 'Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','ID']
print(d2)
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Male'])
print(d)

   X  Y  Z
0  2  4  5
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  Sai  88
1  Poo  70
     0   1  Age
0  Sai  88   20
1  Poo  70   18
     0   1  Age   sex
0  Sai  88   20  Male
1  Poo  70   18  Male

In [ ]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,5],[1,3,5],[5,8,7]],columns=['X', 'Y', 'Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','ID']
print(d2)
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Male'])
print(d)
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

   X  Y  Z
0  2  4  5
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  Sai  88
1  Poo  70
     0   1  Age
0  Sai  88   20
1  Poo  70   18
     0   1  Age   sex
0  Sai  88   20  Male
1  Poo  70   18  Male
       col3      col4
3  1.556303  1.527844
2  1.464331 -0.041826
0  1.368460 -0.777952
4 -0.067250  0.249878
1  2.394125 -0.422853

In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,5],[1,3,5],[5,8,7]],columns=['X', 'Y', 'Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','ID']
print(d2)
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Male'])
print(d)
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
info3=info.sort_values(by='col3')
print(info3)

   X  Y  Z
0  2  4  5
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  Sai  88
1  Poo  70
     0   1  Age
0  Sai  88   20
1  Poo  70   18
     0   1  Age   sex
0  Sai  88   20  Male
1  Poo  70   18  Male
       col3      col4
3  0.576604 -1.065459
2 -0.214164  1.749106
0  0.487103  0.422136
4  0.038143  0.066512
1 -0.088737  0.524271
       col3      col4
2 -0.214164  1.749106
1 -0.088737  0.524271
4  0.038143  0.066512
0  0.487103  0.422136
3  0.576604 -1.065459

In [8]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3],'Name':['Sai','Bale','Kar'],'Sub':['Sub1','Sub2','Sub3']})
print(left)
right=pd.DataFrame({'id':[1,2,3],'Name':['Label','kap','Aar'],'Sub':['Sub1','Sub2','Sub3']})
print(right)
print(pd.merge(left,right,on="id"))

   id  Name   Sub
0   1   Sai  Sub1
1   2  Bale  Sub2
2   3   Kar  Sub3
   id   Name   Sub
0   1  Label  Sub1
1   2    kap  Sub2
2   3    Aar  Sub3
   id Name_x Sub_x Name_y Sub_y
0   1    Sai  Sub1  Label  Sub1
1   2   Bale  Sub2    kap  Sub2
2   3    Kar  Sub3    Aar  Sub3