In [3]:
import pandas as pd
pd.set_option('display.max_column',2)
df=pd.read_excel("/Users/student/Downloads/marksheet.xlsx")
print(df)

   Roll no.  ...   T&D
0         1  ...  53.0
1         2  ...  65.0
2         3  ...  33.0
3         4  ...  32.0
4         5  ...   NaN
5         6  ...  54.0
6         7  ...  23.0
7         8  ...  43.0
8         9  ...  43.0
9        10  ...  75.0

[10 rows x 6 columns]

In [5]:
k=df.fillna(method='pad')
print(k)
print("\n Updated line\n")
k.to_excel("/Users/student/Downloads/marksheet.xlsx")

   Roll no.  ...   T&D
0         1  ...  53.0
1         2  ...  65.0
2         3  ...  33.0
3         4  ...  32.0
4         5  ...  32.0
5         6  ...  54.0
6         7  ...  23.0
7         8  ...  43.0
8         9  ...  43.0
9        10  ...  75.0

[10 rows x 6 columns]

 Updated line

In [6]:
k.drop(['DLC'],axis=1,inplace=True)
print(k)
k.to_excel("/Users/student/Downloads/marksheet.xlsx")

   Roll no.  ...   T&D
0         1  ...  53.0
1         2  ...  65.0
2         3  ...  33.0
3         4  ...  32.0
4         5  ...  32.0
5         6  ...  54.0
6         7  ...  23.0
7         8  ...  43.0
8         9  ...  43.0
9        10  ...  75.0

[10 rows x 5 columns]

In [22]:
import pandas as pd
print("\n Drop NaN row:\n")
df=pd.read_excel("/Users/student/Downloads/m1.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("/Users/student/Downloads/m1.xlsx")

 Drop NaN row:

   Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
0             0             0             0             0           0
1             1             1             1             1           1
2             2             2             2             2           5
3             3             3             3             3           9

   Roll no.         Name  LICA  DLC  EM 2  T&D
0         1     Abhinith    36   41    63   53
1         2       Akilan    23   34    56   65
2         6       Ashwin    25   55    23   54
3        10  Balamurugan    54   64    34   75
   Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
0             0             0             0             0           0
1             1             1             1             1           1
2             2             2             2             2           5
3             3             3             3             3           9

   Roll no.         Name  LICA  DLC  EM 2  T&D
0         1     Abhinith    36   41    63   53
1         2       Akilan    23   34    56   65
2         6       Ashwin    25   55    23   54
3        10  Balamurugan    54   64    34   75

In [11]:
print("\n Replace values:\n")
n=pd.read_excel("/Users/student/Downloads/m1.xlsx")
print(n)
y=n.replace({88:90})
print(y)
y.to_excel("/Users/student/Downloads/m1.xlsx")

 Replace values:

   Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0           0         1     Abhinith    36   41    63   53
1           1         2       Akilan    23   34    56   65
2           5         6       Ashwin    25   55    23   54
3           9        10  Balamurugan    54   64    34   75
   Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0           0         1     Abhinith    36   41    63   53
1           1         2       Akilan    23   34    56   65
2           5         6       Ashwin    25   55    23   54
3           9        10  Balamurugan    54   64    34   75

In [27]:
import pandas as pd
df=pd.read_excel("/Users/student/Downloads/m1.xlsx")
print(df)
print("\n Extract using isin() function:\n")
new=df['DLC'].isin([60])
print(df[new])

   Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  \
0             0             0             0             0             0
1             1             1             1             1             1
2             2             2             2             2             2
3             3             3             3             3             3

   Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0           0         1     Abhinith    36   41    63   53
1           1         2       Akilan    23   34    56   65
2           5         6       Ashwin    25   55    23   54
3           9        10  Balamurugan    54   64    34   75

 Extract using isin() function:

Empty DataFrame
Columns: [Unnamed: 0.5, Unnamed: 0.4, Unnamed: 0.3, Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0, Roll no., Name, LICA, DLC, EM 2, T&D]
Index: []